<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xixiy.blog.mapper.TagMapper">

    <!--- List<Tag> findTagByArticleId(int articleId) -->
    <select id="findTagByArticleId" parameterType="long" resultType="com.xixiy.blog.entity.Tag">
        select id,avatar,tag_name as tagName from ms_tag
        where id in
        (select tag_id from ms_article_tag where article_id = #{articleId})
    </select>
</mapper>
